Customer Support.json
{
  "name": "Customer Support",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6fdaaa52-52d2-41ca-b9e6-a99a2d153acd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "jA2tvq9pAZvf0f0r",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email related to helping out a customer .They may be asking question about our policies or question about our products or services"
            },
            {
              "category": "Other",
              "description": "Other email that are not customer support related"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "66431e00-000a-40e7-8b55-61d1839679e6",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "26605610-92c7-403c-84f1-66111ab3771e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6zivge85OJIKJsx1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        96
      ],
      "id": "2e4047a3-921f-461a-b573-410781346c37",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=#Overview\nYou are a customer support agent for mello techy. Your job is to respond to incoming emails with relevant information using your knowledge base\n\n##Instructions\n-Your output should be friendly and use emojis\n-Sign off as Mr. Helpful from Mello Techy\n\n##Ouput\nOutput only the body of the email\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        560,
        -96
      ],
      "id": "a0651711-7d0a-4ba4-a040-df6c5b507eea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        112
      ],
      "id": "b2b4b46d-f4b6-4e6b-9346-e7faea4c94bb",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "6zivge85OJIKJsx1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Name of the tool is knowledgeBase. Call this tool access the FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "secondindex",
          "mode": "list",
          "cachedResultName": "secondindex"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        768,
        144
      ],
      "id": "9150fc1c-b981-4fab-9a7f-c73ddb3a5e95",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "5KwqtRzzHi4mONXI",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        751,
        230.34999084472656
      ],
      "id": "a1c584c3-376d-4b1a-ae98-68167d3e2865",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "6zivge85OJIKJsx1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        -96
      ],
      "id": "64cab285-364a-4317-9bf7-48c121cec954",
      "name": "Reply to a message",
      "webhookId": "c9333bcd-5749-4d52-a16e-c2640ef0a4fd",
      "credentials": {
        "gmailOAuth2": {
          "id": "jA2tvq9pAZvf0f0r",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b771ebf-898d-42ad-accc-cbf3fb409fcb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abc499eb21f8fbe7feb30cd7024aa71d089ad11ce71929acd5acf551943a93e4"
  },
  "id": "1EyssGTwVcJ5aqrT",
  "tags": []
}