RAG Pipeline and Chatbot.json
{
  "name": "RAG Pipeline and Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6312408c-edae-47c5-ab02-8b7f85c507b9",
      "name": "Telegram Trigger",
      "webhookId": "660902ea-1f3b-4b5e-9bf5-2edb8e631d6e",
      "credentials": {
        "telegramApi": {
          "id": "xy9p1pufZ1msQffc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "secondindex",
          "mode": "list",
          "cachedResultName": "secondindex"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "dbd0e220-90f1-4ea9-9747-b5b4fc56976a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "5KwqtRzzHi4mONXI",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "a40132de-638f-4f17-86fa-ff9f0954fe00",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "6zivge85OJIKJsx1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        240
      ],
      "id": "0b50d271-b54d-4548-b47b-547d9b706d96",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        768,
        448
      ],
      "id": "4445c73f-f638-4d1d-8c1d-db9c1eeca07e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        1.5
      ],
      "id": "802e110e-4947-4ed0-b2cd-a6030a2d2971",
      "name": "Get a file",
      "webhookId": "092c3602-a9e9-4f1f-b23a-184a54ad7f7d",
      "credentials": {
        "telegramApi": {
          "id": "xy9p1pufZ1msQffc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1232,
        16
      ],
      "id": "5e97bbd8-cb92-426b-9e32-b6559dedc1a5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1040,
        16
      ],
      "id": "d2e7a8fb-1f91-4d12-9834-9936cef47baa",
      "name": "When chat message received",
      "webhookId": "18406830-0a30-4b13-a22b-d7b18d2b2e7e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        224
      ],
      "id": "7ffca5ac-9e6d-40f3-8cc0-0584f85f5578",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6zivge85OJIKJsx1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "FAQ document explaining procurement policy, QBL principles, council collaboration, and upcoming MAV procurement tools.",
        "pineconeIndex": {
          "__rl": true,
          "value": "secondindex",
          "mode": "list",
          "cachedResultName": "secondindex"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1312,
        256
      ],
      "id": "58122147-742a-43c5-ab6f-c1471baa1af5",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "5KwqtRzzHi4mONXI",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1408,
        357.5800109863281
      ],
      "id": "f4afeb0f-45ac-42e0-be67-d5a89f89e2d9",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "6zivge85OJIKJsx1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21cfa427-7926-4c94-a6e6-0791c2735c3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abc499eb21f8fbe7feb30cd7024aa71d089ad11ce71929acd5acf551943a93e4"
  },
  "id": "Uci6qa6pLXgA72Hm",
  "tags": []
}